{% extends "blog/base.html" %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <br><br>
        <form action="" method="post">
        {% csrf_token %}
            <p>{{ form.new_password1.errors }}</p>
            <p>New password:</p>
            <p>{{ form.new_password1 }}</p>
            <p>{{ form.new_password2.errors }}</p>
            <p>Confirm password:</p>
            <p>{{ form.new_password2 }}</p>
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}